/* CSS Document */
body {
	overflow:hidden;
}

.name {
	text-align:right;
	font-size:65px;
	margin-top:2%;
	margin-right:2%;
}

.page {
	margin-left:8%;
	width:60%;
	background-color:#E1E1E1;
	font-family:Quicksand, sans-serif;
	overflow:auto;
	height:98vh;
	position:absolute;
}

.categories {
	text-align:center;
	margin-top:3%;
	font-size:25px;
	font-family:Bellefair, serif;
}

a {
	text-decoration:none;
	color:darkslategray;
	transition:1.5s;
}

a:hover {
	color:aliceblue;
	transition:1s;
}

.works {
	margin-top:1%;
	margin-left:2%;
	font-size:30px;
	font-weight:bold;
	margin-bottom:1%;
}

.piece {
	margin-top:2%;
	margin-left:5%;
	font-weight:normal;
}

.title {
	font-size:24px;
	
}

.body {
	font-family:Bellefair, serif;
	margin-left:2%;
	margin-right:3%;
	margin-top:0.5%;
	font-size:19px;
	display:none;
	user-select: none;
}

img {
	max-width:100%;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #888; 
	border-radius:4px;
	transition:1s;
}

::-webkit-scrollbar-thumb:hover {
    background: #787878;
	transition:1s;
}

.about {
	position:absolute;
	margin-right:12%;
	width:20%;
	margin-left:72%;
	margin-top:8vh;
	font-family: Quicksand, sans-serif;
}
